# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
db.sqlite
.env
credentials.json
token.json

# Uploads
uploads/documents/*
!uploads/documents/.gitkeep
uploads/avatars/*
!uploads/avatars/.gitkeep
!uploads/avatars/u-admin.jpg
!uploads/avatars/u-stu-default.jpg
!uploads/avatars/u-stu1.jpg

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
